@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/inter-v12-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/inter-v12-cyrillic_cyrillic-ext_latin_latin-ext-500.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/inter-v12-cyrillic_cyrillic-ext_latin_latin-ext-600.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/inter-v12-cyrillic_cyrillic-ext_latin_latin-ext-700.woff2")
    format("woff2");
}

* {
  margin: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
 /* background-color: #f4f7fd; */
}

/* .continer {
  margin: 0 auto;
  padding: 0 12px 15px;
  max-width: 1300px;
} */
